.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.pem
*.key
*.crt
*.pfx
*.p12
.env
.env.*
.tmp/
.DS_Store
Thumbs.db
!platform/external-vault/files/vault-ca.crt
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/local.auto.tfvars
!platform/vault-secrets-operator/files/vault-ca.crt
